
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #031321;
    font-family: consolas;
}

#game{
    width: 500px;
    height: 200px;
    position: relative;
    left:50px;
    border: 1px solid black;
    background-color: white;
}
#dino{
    width: 20px;
    height: 50px;
    position: relative;
    top: 150px;
    left: -20px;
}
#dino img{
    height: 60px;
    width:100px;
    margin-bottom: 20px;
}

.animation{
    animation: jump 500ms;
}
@keyframes jump{
    0%{
        top: 150px;
    }
    25%{
        top: 100px;
    }
    50%{
        top: 100px;
    }
    75%{
        top: 100px;
    }
    100%{
        top: 150px;
    }
}
#block{
    width: 20px;
    height: 20px;
    position: relative;
    top: 120px;
    left: 480px;
    animation: block 2s infinite linear;
    margin-bottom: 20px;
}
#block img{
    height: 30px;
    width: 70px;
}
@keyframes block{
    0%{
        left:480px;
    }
    100%{
        left: -40px;
    }
}
#land{
    width: 100%;
    height: 20px;
    position: relative;
    top: 100px;
    
}
#land img{
    height: 30px;
    width: 500px;
}
#score{
    position: fixed;
    margin-top: 10px;
    margin-left: 400px;
    border: solid 1px darkgray;
    padding:2px;
}
#restart{
    position: relative;
    top:350px;
    left:-250px;
}
/*_______________________neon css___________________*/
a{
    position: fixed;
    margin-top: -400px;
    margin-left: -50px;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

a:hover{
    color: brown;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3,0 0 80px #2196f3;
    transition-delay: 1s;
}

a span{
    position: absolute;
    display: block;
}

a span:nth-child(1){
    top:0;
    left:-100%;
    width:100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2196f3);
}

a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}


a span:nth-child(3){
    bottom:0;
    right: -100%;
    width:100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2196f3);
}

a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2){
    top:-100%;
    right:0;
    width:2px;
    height: 100%;
    background: linear-gradient(270deg,transparent,#2196f3);
}

a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}


a span:nth-child(4){
    bottom:-100%;
    left:0;
    width:2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2196f3);
}

a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/*______________________________mouse.css________________*/
.circle{
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: #2196f3;
    width: 70px;
    height:70px;
    border-radius: 50%;
    animation: circles 1s linear forwards;
}
@keyframes circles {
    0%{
        width: 0px;
        height: 0px;
        opacity:1;
    }
    70%{
        opacity:0.5;
    }
    0%{
        width: 150px;
        height: 150px;
        opacity:0;
    }
}